<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/stylesheets/output.css" rel="stylesheet">
</head>
<body>
    
    <div class="w-full text-white min-h-screen bg-zinc-900 p-4">
      <div class="text-2xl flex justify-between tracking-tight mt-4 mb-1">
         <div class="flex gap-3 items-center mb-4">
          <a href="/profile/upload" class=" w-10 h-10 cursor-pointer">
            <img class="bg-cover w-full rounded-full  h-full overflow-hidden" src="/images/uploads/<%= user.profilepic %>" alt="">
          </a>
          <span class="font-light">Hello,</span> 
          <%= user.name %> 👋🏻
         </div>
         <a href="/logout" class="bg-red-500 flex justify-center items-center rounded-2xl px-3 py-1 text-[16px]">Logout</a>
      </div>
      <div class="text-[14px] tracking-tight">you can create a new post.</div>

      <form action="/post" method="post">
        <textarea class="w-1/3 h-30 border outline-none border-zinc-700 rounded-md p-2 resize-none my-2 block" name="content" id="" placeholder="what's on your mind ?"></textarea>
        <button class="block text-sm bg-blue-500 rounded-md px-4 py-2 cursor-pointer">Create New Post</button>
      </form>
        
      <div class="posts mt-20">
          <div class="text-zinc-300 text-sm">Your Posts.</div>

          <div class="subpost mt-5 flex flex-col gap-3">

               <%user.posts.reverse().forEach((e , i) => { %>

                <div key="i" class="post text-sm bg-zinc-800 w-1/3 p-4 rounded-md border border-zinc-700 flex flex-col gap-3">
                    
                    <h4 class="text-blue-400"><%=user.name%></h4>
                    <p><%=e.content %></p>

                    <small><%= e.likes.length%> likes</small>
                    <div class="flex gap-3">
                        <a href="/likes/<%= e._id%>" class="likes cursor-pointer text-blue-400 active:scale-[0.8] duration-300">
                          <% if(e.likes.indexOf(user._id) == -1){%>
                           <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#f7eef1" d="m20.27 16.265l.705-4.08a1.666 1.666 0 0 0-1.64-1.95h-5.182a.833.833 0 0 1-.821-.969l.663-4.045a4.8 4.8 0 0 0-.09-1.973a1.64 1.64 0 0 0-1.093-1.137l-.145-.047a1.35 1.35 0 0 0-.993.068c-.34.164-.588.463-.68.818l-.476 1.834a7.6 7.6 0 0 1-.656 1.679c-.416.777-1.058 1.4-1.725 1.975l-1.44 1.24a1.67 1.67 0 0 0-.572 1.406l.813 9.393A1.666 1.666 0 0 0 8.596 22h4.649c3.481 0 6.452-2.426 7.024-5.735"/><path fill="#f7eef1" fill-rule="evenodd" d="M2.968 9.485a.75.75 0 0 1 .78.685l.97 11.236a1.237 1.237 0 1 1-2.468.107V10.234a.75.75 0 0 1 .718-.749" clip-rule="evenodd" opacity="0.5"/></svg>
                          <%} else{ %>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#ffa1c0" d="m20.27 16.265l.705-4.08a1.666 1.666 0 0 0-1.64-1.95h-5.182a.833.833 0 0 1-.821-.969l.663-4.045a4.8 4.8 0 0 0-.09-1.973a1.64 1.64 0 0 0-1.093-1.137l-.145-.047a1.35 1.35 0 0 0-.993.068c-.34.164-.588.463-.68.818l-.476 1.834a7.6 7.6 0 0 1-.656 1.679c-.416.777-1.058 1.4-1.725 1.975l-1.44 1.24a1.67 1.67 0 0 0-.572 1.406l.813 9.393A1.666 1.666 0 0 0 8.596 22h4.649c3.481 0 6.452-2.426 7.024-5.735"/><path fill="#ffa1c0" fill-rule="evenodd" d="M2.968 9.485a.75.75 0 0 1 .78.685l.97 11.236a1.237 1.237 0 1 1-2.468.107V10.234a.75.75 0 0 1 .718-.749" clip-rule="evenodd" opacity="0.5"/></svg>
                          <%}%>  
                        </a>
                        <a href="/edit/<%= e._id%>" class="edit cursor-pointer active:scale-[0.95] duration-300">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-pen-icon lucide-square-pen"><path d="M12 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"/><path d="M18.375 2.625a1 1 0 0 1 3 3l-9.013 9.014a2 2 0 0 1-.853.505l-2.873.84a.5.5 0 0 1-.62-.62l.84-2.873a2 2 0 0 1 .506-.852z"/></svg>
                        </a>
                    </div>
                </div>
            
               <%})%>
               
          </div>
          
      </div>
    </div>

</body>
</html>